body {
  background-color: #f78e69;
  color: white;
}

img {
  width: 100%;
  padding: 1% 0%;
}

header {
  padding: 3% 1% 2% 0%;
}

#info, #about, #abPanda, #pandaPic {
  background-color: #abe188;
  padding: 3% 0%;
}

h4 {
  text-align: center;
  margin-bottom: 2%;
}

h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 3%;
}

#about {
  background-color: #f78e69;
}

#paragraph {
  text-align: justify;
  padding: 0% 3%;
}

.img-thumbnail {
  height: 200px;
  width: 200px;
}

#pictures {
  padding: 3%;
}




